<!DOCTYPE html>
<html>
<head>
	<title><% title %></title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div class="container">
		<div class="heading">
			<div class="center-align">
				<h1><%= title %>!</h1>
				<p>The only interdimensional crypto exchange that trades schmeckles for bitcoins!
				</p>
				<p>Scroll to learn more or whatever.</p>
				<br>	
			</div>
			<div class="row">
				<div class="col s3">
					
				</div>
				<div class="col s6">
					<a href="/register" class="waves-effect waves-light btn">Register</a>
					<a href="/login" class="waves-effect waves-light btn">Log In</a>				
				</div>
			</div>
			
		</div>
	</div>



	<!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="javascript/materialize.min.js"></script>
</body>
</html>