<!DOCTYPE html>
<html>
<head>
	<title><% title %></title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Import Font Awesome -->
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="javascript/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="javascript/materialize.min.js"></script>
</head>
<body>
	<nav class="grey darken-4" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="/" class="brand-logo">
				<i class="fa fa-btc fa-lg" aria-hidden="true"></i>
				<i class="fa fa-arrows-h" aria-hidden="true"></i>
				SHM
			</a>
		  <ul class="right hide-on-med-and-down">
		    <li><a href="#">Log In</a></li>
		  </ul>

		  <ul id="nav-mobile" class="side-nav">
		    <li><a href="#">Log In</a></li>
		  </ul>
		  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</nav>

	<!-- change background color of the header -->
	<div class="teal darken-4">

		<!-- HEADER -->
		<div class="section">
			<div class="container">
				<div class="heading">
					<div class="center-align white-text">
						<h1 class="header center"><%= title %></h1>
						<p>The only interdimensional crypto exchange that trades schmeckles for bitcoins!
						</p>
						<p>Scroll to learn more or whatever.</p>
						<br>	
					</div>
					<div class="row">
						<div class="col s6 right-align">
							<a href="/register" class="waves-effect waves-light amber darken-3 btn">Register</a>
						</div>	
						<div class="col s6 left-align">
							<a class="waves-effect waves-light  amber darken-3 btn toggle-login">Log In</a>
						</div>	
					</div>
					
				</div>
			</div>
		</div>

	</div> <!-- end color div for header -->


	<!-- COLOR FOR LOGIN AND NEWS -->
	<div class="cyan lighten-5">

		<!-- LOGIN FORM (HIDDEN UNTIL CLICK) -->
		<div class="hidden" id="login-form">
			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col s2 m3 l4"></div>
						<div class="col s10 m6 l4">
							<div class="card grey lighten-5">
								<div class="card-content">
									<span class="card-title">Log In <a><i class="material-icons right tiny black-text toggle-login">close</i></a></span>
									<div class="row">
										<div class="input-field col s6">
											<input placeholder="Username" id="user_name" type="text" class="validate">
										</div>
										<div class="input-field col s6">
											<input placeholder="Password" id="password" type="text" class="validate">
										</div>
									</div>
								</div>
								<div class="card-action">
									<a href="/" class="teal-text">Submit</a>
								</div>
							</div>
						</div>
						<div class="col s2 m3 l4"></div>
					</div>
				</div>
			</div>
		</div>

		<br/>

		<!-- NEWS AND USER TESTIMONIALS -->
		<div id="news-testimonials">
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col s12 m6 left-align">
						<h3 class="header">Recent News</h3>

						<div class="card horizontal teal darken-2 white-text z-depth-3">
							<div class="card-image white">
								<img src="images/bar.png">
							</div>
							<div class="card-stacked">
								<div class="card-content">
									<span class="card-title">Strength of Schmeckle Rebounds</span>
									<p>
										The destruction of the Citadel caused a drop in Schmeckle value and a rise in BTC value, as many experts predicted. Now the Schmeckle is gaining traction once again - but is this increase a lasting trend, and will SHM reach parity with its previous value?
									</p>
								</div>
								<div class="card-action">
									<a href="#">Read More</a>
								</div>
							</div>
						</div>

						<div class="card horizontal cyan darken-4 white-text z-depth-3">
							<div class="card-image grey lighten-5">
								<img src="images/presidentmorty.jpg">
							</div>
							<div class="card-stacked">
								<div class="card-content">
									<span class="card-title">Will BTC Be Affected by a Morty Presidency?</span>
									<p>
										BTC has experienced increased volatility following the unexpected election of a Morty to lead the Citadel. Investors are unsure if the price of BTC will maintain its current trends, especially given the rumors surrounding Morty's willingness to impose new cryptocurrency regulations. 
									</p>
								</div>
								<div class="card-action">
									<a href="#">Read More</a>
								</div>
							</div>
						</div>

					</div> <!-- end recent news -->


					<div class="col s12 m6 right-align">
						<h3 class="header">User Testimonials</h3>

						<div class="card horizontal teal darken-2 white-text z-depth-3">
							<div class="card-image grey lighten-5">
								<img src="images/Rick_Sanchez.png">
							</div>
							<div class="card-stacked">
								<div class="card-content">
									<span class="card-title">Rick C-137</span>
									<p>
										"Yeah, MtSchmex is pretty good, I guess. I use it to shuffle around my assets because no currency is immune to *burrrp* crashing or disappearing from reality."
									</p>
								</div>
							</div>
						</div>

						<div class="card horizontal cyan darken-4 white-text z-depth-3">
							<div class="card-image grey lighten-5">
								<img src="images/mr_pbh.jpg">
							</div>
							<div class="card-stacked">
								<div class="card-content">
									<span class="card-title">Mr. PBH</span>
									<p>
										"Ooooo wee, MtSchmex is pretty great!"
									</p>
								</div>
							</div>
						</div>

						<div class="card horizontal teal darken-2 white-text z-depth-3">
							<div class="card-image grey lighten-5">
								<img src="images/ants.jpg">
							</div>
							<div class="card-stacked">
								<div class="card-content">
									<span class="card-title">"Ants In My Eyes" Johnson</span>
									<p>
										"I can't see anything! It's all ants!!"
									</p>
								</div>
							</div>
						</div>
					</div> <!-- end testimonials -->

				</div>
			</div>
		</div>
		</div>

	</div> <!-- end color div for login and news/testimonials -->



	<script type="text/javascript" charset="utf-8" async defer>
		$(document).ready(function(){
			$(".toggle-login").click(function(){
				$("#login-form").slideToggle();
			});
		});
	</script>

</body>
</html>