body {

  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo-img {
	max-width: 50px;
	display: inline-block;
}

.heading {
	text-align: center;
}

.heading p {
	font-size: 1.1em; 
}

.btn-heading {
	margin-left: 10px;
	margin-right: 10px;
}

.card-image {
	padding: 10px !important;
}

.hidden {
	display: none;
}

.toggle-login {
	cursor: pointer;
}

.padded-column {
	padding-right: 2em !important;
	padding-left: 2em !important;
}

.padded-icon {
	padding-right: 10px !important;
}