body {

  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo-img {
	max-width: 50px;
	display: inline-block;
}

.heading {
	text-align: center;
}

.btn-heading {
	margin-left: 10px;
	margin-right: 10px;
}